body{
    background-color: #f2f2f2;
}
.titulo{
    color: rgb(105, 105, 105);
}
#subtitulo{
    color: rgb(105, 105, 105);
}
.p1{
    color: #696969;
    font-family:
}
.subtitulo2{
    color: rgb(105, 105, 105);
}
img{
    border-color:#696969;
}